# Spotify API credentials
SPOTIFY_CLIENT_ID="your_spotify_client_id"
SPOTIFY_CLIENT_SECRET="your_spotify_client_secret"
SPOTIFY_REDIRECT_URI="http://localhost:8888/callback"
SPOTIFY_PLAYLIST_ID="your_spotify_playlist_id"

# Configuration
CHECK_INTERVAL=60000  # Check for new songs every 60 seconds

# Puppeteer
PUPPETEER_EXECUTABLE_PATH="/usr/bin/google-chrome"
